# --- Python / Django ---
__pycache__/
*.py[cod]
*.log
*.pot
*.mo

# --- Virtualenv ---
venv/
.env
.env.*
.envrc

# --- Django ---
db.sqlite3
*.sqlite3


# static collect (si usás collectstatic en prod)
staticfiles/

# caché en archivos (límite de registros por IP)
.cache/

# --- IDE ---
.vscode/
.idea/
*.swp
.DS_Store

# --- Node / build (si tuvieras) ---
node_modules/
dist/
build/
